            table {
                max-width: 980px;
                table-layout: fixed;
                margin: auto;
            }
            
            th,
            td {
                padding: 5px 10px;
                max-width: 50px;
            }
            
            thead,
            tfoot {
                background: #f9f9f9;
                display: table;
                width: 100%;
                width: calc(100% - 18px);
            }
            
            tbody {
                height: 200px;
                overflow: auto;
                overflow-x: hidden;
                display: block;
                width: 100%;
            }
            
            tbody tr {
                display: table;
                width: 100%;
                table-layout: fixed;
            }
            
            .review-input-pane {
                background-color: #F0F0F0;
                min-height: 92vh;
            }
            
            .review-input-pane2 {
                background-color: rgb(234, 253, 253);
                min-height: 92vh;
            }
			div#chart, div#chart1{
				text-align: center;
				font-size: x-large;
			}